<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -150px;
  }
</style>
<section>
  
<form action="/login" method="post">
{{#if loginErr}}
    <p class="error">password and email not mach</p>
  {{/if}} 
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="mb-3 form-check">
   <a href="/signup">create new account</a>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>