<section>
    <div class="container mt-5">
      <div class="row">
        {{#each orderProducts}}
        <div class="col-md-3" >
          <div class="card" style="width: 15rem; height=25rem">
            <img src="/product-images/{{this.product._id}}.jpg" class="card-img-top" alt="..." style="height: 10rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.product.name}}</h5>
              <p class="card-text">{{this.product.description}}</p>
              <p class="card-text">{{this.product.price}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  <script>
   
  </script>
  


